:root {
  /* NUMBERiNPUT */
  --label-color: #5d6b6c;
  --number-input-color: #084643;
  --error-color: #d6765d;
  --input-focus-outline: 2px solid #5aa79d;
  --input-bg-color: #f3f8fb;

  /* RESET BUTTON */
  --inactive-resetbtn-bg-color: #0d686d;
  --active-resetbtn-bg-color: #9fe8df;
  --resetbtn-text-color: #00474b;

  /* TIP BUTTON */
  --tipbtn-bg-color: #00474b;
  --tipbtn-text-color: #feffff;
  --tipbtn-hover-bg-color: #9fe8df;
  --tipbtn-hover-text-color: #014946;
  --customBtn-text-color: #5d6b6c;
  --custominput-text-color: #084643;
  --font-family: "Space Mono";
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #c5e4e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  align-items: center;
  font-family: "Space Mono";
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.8rem;
  color: #00474b;
}

.text {
  text-align: center;
  padding: 8rem 0 4rem 0; /* Adjust padding */
}

@media (max-width: 550px) {
  .container {
    /* width: 100vw; */
    padding: 0%;
    min-width: 360px;
  }
  .text {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 762px) {
.text{
    padding: 40px 0 0 0;

}
}
/* @media (max-width: 400px) {
    .container{
        width: 100vw;
        padding: 0%;
    }
      } */
