import React from 'react';
import styles from './{{pascalCase name}}.module.css'
import "../../App.css"


interface {{pascalCase name}}Props {
  {{!-- Define your props here --}}
}

export function {{pascalCase name}}(props:{{pascalCase name}}Props) {
  return (
    <div className={styles.container}>
      { /*  comments */ }
    </div>
  );
};

