.container {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
  width: 100%;
  /* max-width: 555px;
        min-width: 350.5px */
}

@media (max-width: 550px) {
  .container {
    gap: 32px;
    /* max-width: 324px; */
    width: 100%;
    /* padding: 0%; */
  }
}
